body {
    background:linear-gradient(black, transparent),
    linear-gradient(to top left, white, transparent),
    linear-gradient(to top right, gray, transparent);
    background-blend-mode: screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;

}
table {
    background: white;
    border-collapse: collapse;
    border: 3px solid black;
    width: 100%; height: 100%;
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 15px;
}
    td {
        border: 1px solid black;
        text-align: center;
        font-size: 2em;
    }
    td:nth-child(3),
    td:nth-child(6) {
        border-right: 3px solid black;
    }
    tr:nth-child(3),
    tr:nth-child(6) {
        border-bottom: 3px solid black;
    }
    caption {
        margin-bottom: 15px;
        font-size: 1.5em;
        text-shadow: 0px 0px 15px white;
        color: black;
        background: linear-gradient(to top left, black, transparent),
        linear-gradient(to bottom right, white, transparent);
    background-blend-mode: screen;
        padding: 3px;
        border: 3px solid black;

    }
button {
    background: linear-gradient(to top left, black, transparent),
    linear-gradient(to bottom right, white, transparent);
    color: black;
    text-shadow: 0px 0px 10px white;
    font-family: Verdana;
    font-size: 1.5em;
    display: block;
    max-width: 100%;
    width: 300px;
    border: 0;
    padding: 3px;
    cursor: pointer;
    transition: all 300ms;
    margin: 3px;
    border: 3px solid black;
}
button:hover {
        background-color: #333;
    }
button:active {
        transform: translate(1px, 2px) scale(0.98);
    }
.left{
    position: absolute;
    left :180px;
}
.right{
    position: absolute;
    right:180px;
}
