.jacket{
    width: 100px;
    height: 100px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align : center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align : center;
}

canvas {
    background-image : linear-gradient(black,rgb(0, 130, 206));
}

body {
    background-color : black
}

.judgeLine {
    width : 1280px;
    height : 10px;
    background-color : red;
    position : absolute;
    z-index: 2;
    top : 642px;
    opacity : 0;
    transition : opacity 1s;

}

.game {
    position: relative;
    margin : auto;
    width : 1280px
}

#jacketDisplay{
    width: 100px;
    height: 100px;
    z-index: 2;
    opacity : 0;
    margin:auto;
}

#title{
    position : absolute;
    top : 20px;
    left : 120px;
}

#artist{
    position : absolute;
    top : 60px;
    left : 120px;
}
#hudLeft{
    background-color: white;
    z-index : 2;
    position: absolute;
    top: 0px;
    left:0px;
    width : 400px;
    height : 720px;
    opacity : 0;
    transition : 1s opacity;
}

.hudText{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 1.1em;
}

#judgeText{
    opacity : 0;
    font-family: Arial;
    font-size : 5em;
    position : absolute;
    top : 175px;
    left : 30px;
    z-index: 2;
}

#combo {
    opacity : 0;
    z-index:2;
    position:absolute;
    top : 300px;
    left : 30px;
    font-size : 3em;
    transition : 1s opacity;
    font-family: Arial;
}

#score {
    opacity : 0;
    z-index:2;
    position:absolute;
    top : 375px;
    left : 30px;
    font-size : 2em;
    transition : 1s opacity;
    font-family: Arial;
}
#selectableSongs {
    width : 1280px;
    margin : auto;
}

#tip {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 4em;
    color : white;
    transition : 1s opacity;
    position: absolute;
    left : 10px;
    top : 520px;
    text-align :center;
    z-index : 2;
}

.help {
    text-align: center;
    color : white;
}
.txtbox{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align : center;
    width: 75vw;
    margin:auto;
}

#endScreen{
    width:1280px;
    height:720px;
    background-color:black;
    z-index : 4;
    position: absolute;
    opacity : 0;
    left:0px;
    top:0px;
    display:block;
    transition : opacity 4s;
}
.endText{
    font-family: Arial;
    color : white;
    font-size : 3em;
    position:absolute;
}
#endCombo {
    top : 400px;
    left : 320px;
    color:white;
    text-align : center;
    opacity : 0;
    transition : opacity 4s;
}

#endScore {
    top : 300px;
    left : 320px;
    color:white;
    text-align : center;
    opacity : 0;
    transition : opacity 4s;

}

#blurb {
    opacity: 0;
    position: absolute;
    top : 600px;
    left : 120px;
    transition : opacity 4s;
    color: white
}

#selected{
    position : absolute;
    top :   625px;
    left : 25px;
    color:white;
    font-size : 1.5em;
    font-family : Arial;
}
#selectedArtist{
    position : absolute;
    top :   660px;
    left : 25px;
    color:white;
    font-size : 1.5em;
    font-family : Arial;
}

#endGrade{
    top : 200px;
    left : 800px;
    color:white;
    text-align : center;
    opacity : 1;
    transition : opacity 4s;
    font-size : 20em;
    
}

#fullCombo {
    font-family: Arial;
    position: absolute;
    top : 500px;
    left : 320px;
    color:yellow;
    text-align : center;
    opacity : 0;
    transition : opacity 4s;
    font-size : 4em;

}

button {
    background:none;
    width : 100px;
    height : 25px;
    margin : auto;
    border: 2px solid white;
    color: white;
    text-decoration: none;

}

.footer{
    display:flex;
    justify-content: center;
}

a:link{
    color:white;
}
a:visited{
    color:white;
}