
body{
    background-color: rgba(0, 0, 0, 0.6);
}
#main-play-area {
    position: absolute;
    background-size: cover;
    width: 1000px;
    height: 600px;
    background-image: url("Chapter/Cube-3.jpg");
    border: 2px solid gray;
    box-shadow: 0px 0px 50px lightgray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   
#instructions-text ,  #instructions-text2{ /* text opeation 01*/
    position: relative;
    color: white;
    left: 35px;
    top: 35px;
    text-shadow: 2px 2px black;
}
#start-button {
    position: relative;
    color: white;
    left: 140px;
    top: 80px;
    text-shadow: 2px 2px black;
}
  
#start-button:hover {
    cursor: pointer;
}
#player{
    position: relative;
    height: 150px;
    width: 120px;
    margin-left: 10px;
    animation-name: G11;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-image: url("G11/R1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
@keyframes G11 { /* for boss - enermy */
    0%      {background-image: url("G11/R1.png");}
    16%     {background-image: url("G11/R2.png");}
    32%     {background-image: url("G11/R3.png");}
    48%     {background-image: url("G11/R4.png");}
    64%     {background-image: url("G11/R5.png");}
    80%     {background-image: url("G11/R6.png");}
    96%     {background-image: url("G11/R7.png");}
    100%    {background-image: url("G11/R8.png");}
}

.bullet {
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: 0;
  }
  
  .monster {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  
  .monster-transition {
    opacity: 1;
    transition: opacity 1.5s ease-out;
  }
  
  
  .dead-monster {
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 0;
  }

  #button:hover{
    color: blue;
  }
p1{
    font-size: 1.5em;
}

#instructions-text3{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
  display: none;
  color: white;
  text-shadow: 2px 2px black;
}
#instructions-text4{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
  display: none; 
  color: white;
  text-shadow: 2px 2px black;
  text-decoration: none;
}
a{
    text-decoration: none;

}
a:hover{
    color: red;
}

#menu {
  background-color:rgba(134, 131, 131, 0.5);
  color:#ffffff;
  cursor:pointer;
  display:grid;
  padding:5px;
  position:fixed;
  left:0px;
  top:40px;
  user-select:none;
  margin-top: 10px;
  margin-left: 10PX;
  border-radius: 10px;
}