body{
	background: hsla(220, 100%, 80%, 100%);
}
h1, h2{
	text-align: center;
	text-transform: uppercase;
	color: white;
}
not-div{
	display: block;
	margin: 10px auto;
	width: 200px;
	height: 150px;
	background: hsla(120, 100%, 50%, 80%);
	position: center;
	border: dashed white 5px;
	border-top-left-radius: 30%;
	border-bottom-right-radius: 30%;

}
broad-naja{
	display: block;
	margin: auto;
	width: 800px;
	height: 600px;
	background: red;
	position: center;
	border: double white 15px;
	border-top-right-radius: 50px; 
	border-top-left-radius: 20px; 
	border-bottom-right-radius: 20px; 
	border-bottom-left-radius: 50px; 
}

box{
	display: block;
	width: 50px;
	height: 50px;
	background: hsla(200, 100%, 50%,100%);
	position: relative;
	border-radius: 50%;
	transition: all 10ms;
}

#box2,#box3,#box4,#box5{
	display: none;
}

#box1{
	background: hsla(100, 100%, 50%,70%);
}

#box2{
	background: hsla(180, 100%, 50%,70%);
}

#box3{
	background: hsla(210, 100%, 50%,70%);
}

#box4{
	background: hsla(280, 100%, 50%,70%);
}

#box5{
	background: hsla(300, 100%, 50%,70%);
}